.bingoBoard {
    background-color: #000000;
    width: 100%;
    max-width: 800px;
    padding: min(36px, 3vw);
    
    & hr {
        margin-bottom: min(36px, 3vw);
        border: 1px solid #FFFFFF;
    }
}

.bingoLabels {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: stretch;
    gap: min(36px, 3vw);
}

.bingoElements {
    display: grid;
    grid-template-rows: repeat(5, minmax(0, 1fr));
    justify-items: stretch;
    grid-auto-flow: column;
    gap: min(36px, 3vw);
}
