.bingoBoard {
    background-color: #000000;
    width: 100%;
    max-width: 800px;
    padding: 0 min(36px, 3vw);

    & hr {
        margin: min(72px, 8vw) 0;
        border: 2px solid #FFFFFF;
    }
}
.first {
    padding-top: min(36px, 3vw);
}

.last {
    padding-bottom: min(36px, 3vw);
}

.bingoLabels {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: stretch;
    gap: min(36px, 3vw);
}

.bingoElements {
    display: grid;
    grid-template-rows: repeat(5, minmax(0, 1fr));
    justify-items: stretch;
    grid-auto-flow: column;
    gap: min(36px, 3vw);
}
