.header {
    background-color: #000000;
    border-bottom: 6px solid #fba900;
    color: #FFFFFF;
    margin-bottom: 3rem;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    .left, .right {
        flex: 1;
        max-width: 25vw;
        display: flex;
        justify-content: center;
    }

    .right {
        justify-content: right;
    }

    .left {
        justify-content: left;
    }
}
