
.footer {
    align-items: center;
    background-color: #000000;
    bottom: 0;
    color: #ffffff;
    display: flex;
    font-size: 1rem;
    justify-content: space-evenly;
    min-height: 4rem;
    position: absolute;
    width: 100%;
  }