
.footer {
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    font-size: 1rem;
    justify-content: space-evenly;
    min-height: 4rem;
    width: 100%;
  }

  .heart {
    color: #ffffff;
    font-size: 1.25rem;
    transition: color 0.15s ease-in;

    &:hover {
      color: #d83a28;
    }
  }